DATABASE_URL="数据库协议://数据库用户名:数据库密码@数据库服务地址:端口/数据库"
POSTGRES_PASSWORD='数据库密码'

# Webapp URL for published apps
NEXT_PUBLIC_WEBAPP_URL="http://localhost:3001"

EMBEDDING_MODEL='嵌入模型名称'
MODEL='模型名称'
API_KEY='your_api_key'
BASE_URL='your_base_url'